<div class="row">
    <div class="col">
        <h1>{{farm.name}}</h1>
        <p *ngIf="farm.description">{{farm.description}}</p>
        <span *ngIf="farm.direction"><strong>Direction: </strong><span>{{farm.direction}}</span></span>
        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>Productos</h3>
        <hr>
        <button class="btn btn-success table_button_action" (click)="createProduct(farm.id)">Crear</button>
        <br>
        <br>
        <product-item 
            [product]="product" 
            [mode]="productTemplateModes.FARMER" 
            *ngFor="let product of products"
            (updateProduct)="updateProduct()"
            (deleteProduct)="deleteProduct()"></product-item>
    </div>
</div>